/*
Theme Name:     Brooklyn Bureau
Theme URI:      http://www.bkbureau.org/
Description:    A child theme for Brooklyn Bureau based on the Project Largo parent theme.
Author:         Ryan Nagle/INN
Author URI:     http://largoproject.org
Template:       largo
Version:        0.1.0
*/

a { color: #0099cc; }
.navbar-inner {
  min-height: 40px;
  background-color: #0099cc;
}
.rss-subscribe-link {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  color: #343434;
}
.widgettitle,
.stories h3.widgettitle,
#related-post-nav a.selected,
.tags ul li,
.widget.rev {
  background-color: #0099cc;
}
.global-nav .nav-right ul#header-social li a {
  padding: 5px 2px;
}
#site-header a.logo {
  min-width: 360px;
  width: 33%;
  display: block;
  float: left;
}
#site-header a img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
#site-header .leaderboard {
  width:728px;
  height:90px;
  margin:auto;
  display:block;
  float:right;
  margin-top:37px;
  clear:right;
}
.textwidget div {
  margin: 0 auto;
}
.textwidget .advertise {
  display: block;
  padding-top: 10px;
  text-align: center;
}
#homepage-bottom .widget.no-bg {
  padding: 0;
  width: 47.5%;
}
#supplementary ul.menu li:first-child {
  border-top: 0;
}

/* Fix 1px bump in height when using smaller font for navbar */
.nav>li.home-link>a,
.nav>li>a {
  min-height: 40px;
  display: inline-block;
  float: none;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
}
.nav>li.home-link { height: 40px; }
.nav>li.home-link>a {
  padding: 0 5px 0 10px;
}
.navbar .container { position: relative; }
.navbar .btn-navbar { margin: 6px 10px 0 0; }

@media (max-width: 1230px) {
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden !important;
    height: 0 !important;
  }
  .nav-collapse.collapse.in {
    overflow: visible !important;
    height: auto !important;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 12px;
  }
  .nav-collapse .nav > li,
  .nav-collapse .nav > span > li {
    float: none;
    display: list-item;
  }
  .global-nav .nav-right ul#header-social a > .icon-youtube,
  .global-nav .nav-right ul#header-social a > .icon-linkedin,
  .global-nav .nav-right ul#header-social a > .icon-gplus {
    display: none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 1170px) {
  #site-header .leaderboard {
    display: none;
  }
  .nav.hidden-phone{
    display:none !important;
  }
  .nav .visible-phone{
    display: inherit !important;
  }
  .global-nav .nav-right ul#header-social {
    display: none;
  }
}
@media (max-width: 1000px) {
  .global-nav ul {
    display: none;
  }
  .nav-collapse .visible-phone {
    display: block !important;
  }
}
@media (max-width: 980px) {
  #homepage-bottom .widget.no-bg {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}